.comment-field {
  margin-bottom: 20px;

  & textarea {
    display: block;
    height: 120px;
    padding: 10px;
    resize: none;
    padding-left: 16px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
      border-color: $accent-color;
      outline: none;
    }
    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}
