.footer-address {
  width: calc(25% - 30px);
}

.address-container {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  text-transform: none;

  .text {
    margin: 0;
  }
}

.footer-contacts {
  color: $footer-text-color;

  .text {
    margin-top: 9px;
  }
}
