.submit-btn {
  margin-right: auto;
  margin-left: auto;

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: $main-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
