$primary-text-color: #757575;
$title-text-color: #212121;
$footer-text-color: rgba(255, 255, 255, 0.6);
$main-white-color: #ffffff;
$accent-color: #2196f3;
$footer-bg-color: #2f303a;
$filter-button-color: #f5f4fa;
$vector-color: #afb1b8;
